In [29]:
import pandas as pd
import numpy as np
import matplotlib as mpl
#import seaborn as sn

In [30]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [31]:
values_count = df['race'].value_counts()
values_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [32]:
male_data =df[df['sex']=='Male']

In [33]:
male_ages = male_data['age']
male_average_ages = male_ages.mean()
male_average_ages

39.43354749885268

In [34]:
total_edu = df['education']
bach_mask = total_edu == 'Bachelors'
bach_hol = total_edu[bach_mask]
#bach_hol.count(),total_edu.count()
per_bach = (bach_hol.count()/total_edu.count())*100
per_bach

16.44605509658794

In [35]:
advanced_education_levels =['Bachelors', 'Masters', 'Doctorate']
advanced_education_data = df[df['education'].isin(advanced_education_levels)]
high_income_advanced_education = advanced_education_data[advanced_education_data['salary'] == '>50K']
percentage = (len(high_income_advanced_education) / len(advanced_education_data)) * 100
percentage

46.535843011613935

In [36]:
lower_education_level= ['HS-grad', '11th', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
lower_education_level_data = df[df['education'].isin(lower_education_level)]
#lower_education_level_data
high_income_lower_education_level = lower_education_level_data[lower_education_level_data['salary'] == '>50K']
percentage = (len(high_income_lower_education_level)/ len(lower_education_level_data))*100
percentage

17.3713601914639

In [37]:
hours_worked_column = 'hours-per-week'
minimum_hours = df[hours_worked_column].min()
minimum_hours

1

In [38]:
hours_worked_column = 'hours-per-week'
income_column = 'salary'
total_people = len(df)
minimum_hours = df[hours_worked_column].min()
minimal_hours_high_income = df[(df[hours_worked_column] <=minimum_hours ) & (df[income_column] == '>50K')]
number_of_peoples = len(minimal_hours_high_income)
percentage_of_people_minimal_hours_high_income = ((number_of_peoples)/(total_people))
percentage_of_people_minimal_hours_high_income

6.142317496391388e-05

In [39]:
country_column = 'native-country'
income_column = 'salary'
high_income_data = df[df[income_column] =='>50K' ]
percentage_by_country = high_income_data.groupby(country_column)[country_column].count() / df.groupby(country_column)[country_column].count() * 100
highest_percentage_country = percentage_by_country.idxmax()
highest_percentage = percentage_by_country.max()
highest_percentage_country,highest_percentage

('Iran', 41.86046511627907)

In [40]:
income_column = 'salary'
country_column = 'native-country'
occupation_column = 'occupation'
high_income_india = df[(df[income_column]=='>50K') &(df[country_column]=='India')]
occupation_counts = high_income_india.groupby(occupation_column)[occupation_column].count()
most_popular_occupation = occupation_counts.idxmax()
most_popular_occupation_count = occupation_counts.max()
most_popular_occupation,most_popular_occupation_count

('Prof-specialty', 25)

In [41]:
df[country_column].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)